APP_NAME=skeleton

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=hyperf-test
QINBIU_DOMAIN=hyperf-test.ynyn.video
QINIU_EXPIRES= 50400


OSS_ACCESS_KEY=
OSS_SECRET_KEY=
OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET=jieao-mining
